doctype html
html
head
//- body(data-query='on("mousedown", handler)')
body
  //- input(type='text', data-query='val(field)')
  //- div(style='background: yellow', data-query='text(field)'){{$this.field}}

  //- div My name is {{firstName}} {{lastName}} and I am {{age}} years old.
  //- div My name is {{fullName}} and I am {{age}} years old.

  //- form
    label first name
      input(type='text' data-query='val(firstName)')

    label last name
      input(type='text' data-query='val(lastName)')

    label age
      input(type='text' data-query='val(age)')

  //- ul
  //-   li: a(href='#', data-query='navigateTo(Home)') Home
  //-   li: a(href='#', data-query='navigateTo(Contacts)') Contact

  //- div(data-query='view(Home)')
  //-   h1 home view

  //- div(data-query='view(Contacts)')
  //-   h1 contacts view

  //- div(data-query='view(Profiles)')
  //-   | Username: 
  //-   input(data-query='val(username)')
  //-   button(data-query='click(addNewUser)') Add new user
  //-   //- button(data-query='click(sort)') Sort
  //-   ul(data-query='each(users)')
  //-     li {{username}}
  //-   h3 sorted
  //-   ul(data-query='each(users.view)')
  //-     li {{username}}
  //-   h3 Total count {{users.count}}

  ul(data-query='each(features.view)')
    li {{name}}, <i>{{type}}</i>
  input(type='text', placeholder='Filter', data-query='val(inputValue)')
  button(data-query='click(setFilter)') Set filter

  //- div {{hello}}
  //- div(data-query='view(Signup)')
    h2 {{description}}
    div(data-query='with(profile)')
      input(placeholder='username', data-query='val(username)')
      span(data-query='visible(!username.valid()).html(username.errorMessage)')
    h3 Articles
    ul(data-query='each(articles)')
      li {{content}}

  each script in scripts
    script(src= script)
